name: Esp32GoAPI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
          submodules: recursive

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23.x'
    
    - name: Install protoc (protobuf compiler)
      run: |
        sudo apt-get update
        sudo apt-get install -y protobuf-compiler

    - name: Install protoc-gen-go
      run: go install google.golang.org/protobuf/cmd/protoc-gen-go@latest

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build

    - name: Generate ProtoBuffer files
      run: cmake --build ${{github.workspace}}/build --target go_proto
       
    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./api
